.footer {
  background-color: #0369a1;
  color: white;
  padding: 1rem 0;
  margin-top: 2rem;
  text-align: center;
  font-family: "montMed", sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.footer-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-family: "montMed", sans-serif;
}

.footer-links li a:hover {
  color: #facc15;
}

@font-face {
  font-family: "montMed";
  src: url("/src/assets/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
