* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montMed", sans-serif;
  box-sizing: border-box;
}

div,
section,
header,
footer,
nav,
main,
article,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
img,
button {
  box-sizing: border-box;
}

/* Navbar base */
.navbar {
  display: flex;

  width: 100%;
  height: clamp(
    60px,
    8vh,
    80px
  ); /* altura adaptable a diferentes dispositivos ;-) */
  background-color: #448531; /* azul */
  color: #becabc;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 500;
}

/* Contenedor flex */
.nav-container {
  /*border: 1px solid #ccc;*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #e1e9e0;
}

/* Logo */
.nav-container--logo {
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #e1e9e0;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

/* Links estilo */
.nav-links li a {
  color: green;
  text-decoration: none;
  transition: color 0.2s;
  /*border: 1px solid green;*/
  padding: 8px 20px;
  border-radius: 50px;
  background-color: #c8d1b7;
}

.nav-links li a:hover {
  color: #fde68a; /* amarillo suave */
}

/* Botón hamburguesa */
.nav-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-toggle {
    display: block;
  }
}

@font-face {
  font-family: "montMed";
  src: url("/src/assets/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
