*{
    box-sizing: border-box;
}


.section__hero{
    height: 100dvh;
    background: no-repeat url(/src/images/zona-rural-para-hero.webp);
    background-size: cover;
}

.section__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    height: 120dvh; 
    width: 100%;
    border: 1px solid black;
}

.section__description--title{
    margin-bottom: 2rem;
}

.section__description--text{
    max-width: 800px;
}

.section__description h2{
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}

.section__description p{
    font-size: 3.2rem;
    color: #34495e;
    margin-bottom: 2rem;
}


/* Estilos para la sección de Lugares */

.section__Lugares{
    height: 110dvh;
    width: 100%;
    border: 3px dotted green;
    padding: 1.2rem;
}

.section__Lugares__grid {

    display: grid;
    height: 100dvh;
    width: 100%;
    padding: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.section__Lugares--item {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #333;
    overflow: hidden;
    border-radius: 15px;
    box-sizing: border-box;
}

.section__Lugares--item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    background-repeat: no-repeat;
}

.lugar1 {
    grid-area: 1 / 1 / 3 / 3;
    border: 1px solid gainsboro;
    padding: 20px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.lugar1 span{
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 10px;
    margin-right: 8px;
    font-weight: bold;
}

.lugar1 button{
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #215a1f;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px 25px;
}

.lugar1 button>img{
    width: 16px;
    height: auto;
    object-fit: cover;
}

.lugar2 {
    grid-area: 2 / 3 / 6 / 6;
    border: 1px solid gainsboro;
}

.lugar3 {
    grid-area: 4 / 1 / 7 / 3;
    border: 1px solid gainsboro;
}

.lugar4 {
    grid-area: 6 / 3 / 9 / 4;
    border: 1px solid gainsboro;
}



/* Estilos para la sección de ofrecemos */


.section__Ofrecemos{
    height: 100dvh;
    width: 100%;
    border: 3px dotted blue;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.section__Ofrecemos--title{
    margin-bottom: 2rem;
    max-width: 800px;
    text-align: center;
}

.section__Ofrecemos--title h2{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}

.section__Ofrecemos--title p{
    font-size: 1.5rem;
    color: #34495e;
    margin-bottom: 2rem;
}

.container__Ofrecemos--images {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
  overflow: hidden;
}

.Ofrecemos__images--item {
  flex: 1;
  height: 300px;
  max-width: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 1.2rem;
  border: 1px solid gainsboro;
  overflow: hidden;
}


/* efecto acordeón */
.Ofrecemos__images--item.active {
  flex: 5; /* este crece mucho más */
  max-width: 100%;
}

/* Los demás se encogen suavemente */
.container__Ofrecemos--images .Ofrecemos__images--item:not(.active) {
  flex: 0.5;
  max-width: 80px;
}

/* Overlay para texto */
.Ofrecemos__overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  text-align: center;
  border-radius: 0 0 20px 20px;
}


.container__video{
    width: 100%;
    height: 100dvh;
    border: 3px dotted red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}

.container__video p{
    font-size: 3.2rem;
    color: #34495e;
    margin-bottom: 2rem;
    text-align: center;
    max-width: 800px;
}

.container__video span{
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 10px;
    margin-right: 8px;
    font-weight: bold;
}

.video--button{
    margin-top: 2rem;
    border: 1px solid black;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos de boton*/

.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

