*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div,section,header,footer,nav,main,article,aside,h1,h2,h3,h4,h5,h6,p,a,ul,li,img,button {
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  margin:0;
  text-align: center;
}

